td {
  border-top: 1px solid #CCC;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
}

.books {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  
}
.col-1 {
  display: flex;
  height: 20px;
  justify-content: space-evenly;
}

.collection {
  display: flex;
  flex-flow: wrap;
  /* justify-content: center; */
}

.img {
  width: 200px;
  height: 250px;
  margin: 70px;
}

@media only screen and (min-width: 768px) {
  .books {
    width: 300px;
  }

  .collection {
    width: 700px;
    justify-content: space-between;
    align-content: center;
  }

  .img {
    width: 400px;
    height: 500px;
    
  }

}

@media only screen and (min-width: 1200px) {

}

