.book-Detail {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.book-Info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  box-shadow: 3px 5px 3px 2px rgb(119, 118, 118);
  width: 130px;
  height: 200px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box {
  margin-left: 20px;
  width: 250px;
  word-wrap: break-word;
}

.detail-Description {
  width: 150px;
  font-size: 10px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: 100px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .image {
    width: 300px;
    height: 400px;
  }

  .detail-Description {
    width: 250px;
    font-size: 20px;
    margin-left: 20px;
  }

  

}

@media only screen and (min-width: 1200px) {

}