.header {
  background-color: #ab92bf;
  display: flex;
}

.site-name {
  color: #d6ca98;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  height: 20px;
  width: 200px;
  justify-content: flex-end;
  align-items: center;
}

ol{
  display: flex;
  justify-content: space-evenly;
}

li{
  border: solid;
}

.logout {
  height: 20px;
}